body{
    margin: 0px;
}

.padding-campanas{
    margin-top: 1px;
}
.altura-minima{
    height: 400px;
}

hr[id="linea-izquierda"] {
    border: none;
    border-top: 6px solid rgb(113, 113, 113); /* Grosor de la linea*/
    min-width: 70px;
    max-width: 200px;
}

hr[name="linea-derecha"] {
    border: none;
    border-top: 6px solid rgb(113, 113, 113); /* Grosor de la linea*/
    min-width: 82px;
    max-width: 212px;
}

/*Editando boton*/

.btn.outline {
	background: none;
	padding: 12px 22px;
}

.btn-primary.outline {
	border: 2px solid black;
	color: black;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color: black;
	border-color: black;
}
.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: black;
	color: black;
	box-shadow: none;
}

.center-crop {
    max-height: 100px;
    max-width: 100px;
    object-fit: cover; /* Cómo lo va a ajustar*/
    object-position: center; /* En qué posición quiere que lo ajustes*/
}

.dot {
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}

.cabezera{
    background-color: #85D1B5;
}

.fondo-verde{
    background-color:rgb(133, 212, 183);
}


  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    max-width: 100%;
  }

label .error{
    color: red
}

#container {
    width: 100%;
    margin: 2em auto;
}
.cols {
    -moz-column-count:3;
    -moz-column-gap: 3%;
    -moz-column-width: 30%;
    -webkit-column-count:3;
    -webkit-column-gap: 3%;
    -webkit-column-width: 30%;
    column-count: 3;
    column-gap: 3%;
    column-width: 30%;
}
.cols img {
    margin-bottom: 20px;
    max-width: 100%;
}

/* Lo del mirko :'v
@media screen and (max-width: 768px) {
    h1{
        font-size:14px;
    }
}

@media (max-width: 400px) {
    body{
        background-color: red;
        color: red;
    }
}*/

/*Centrando botones Registrarse e Iniciar Sesión*/
#registro{
    width: 150px;
    height: 40px;
    float: center;
}

#iniciarSesionBoton{
    margin-top: -45px; width: 150px;height: 40px;float: center;
}

/*Centrando Imagenes para que disminuyan automaticamente al disminuir la escala*/
img{
    max-width: 100%;
}
/* 
small{
    font-size:3vw;
}*/

#crowfunding{
    font-size:7vmin;
}   

/*Change color icons*/
.fa .fa-google-plus {
    background: white;
    color: red;
}

/*centrando footer*/
footer{
    padding: 1px 0;
    background-color: rgb(133, 212, 183);/*#99CCCC*/
    text-align: center;
}
/* Adding scroll bar to div
.anyClass {
    height:150px;
    overflow-y: scroll;
}
.anyClass {
    height:150px;
    overflow-y: scroll;
}
*/

.anyClass {
    width: 100%;
    height:635px;
    overflow-x: scroll;
}
