<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/css/inputmask.min.css" />
    <!--Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!---->
    <link rel="stylesheet" href="{% static "css/estilo.css" %}" type="text/css">
    <title>Login - Mis Perris</title>
</head>
<body style="background-color: rgb(133, 212, 183);">
<header class="cabezera">
    <nav class="navbar navbar-expand-lg navbar-light cabezera">
        
        <div class="col-lg-7 col-sm-12 col-xm-12">
            <img src="{% static "img/logo.png" %}" alt="Gatito" class="img-fluid">
        </div>
        
        <div class="col-lg-5 col-sm-12 col-xm-12">
            <ul class="navbar-nav mx-auto list-inline">
                <li class="nav-item active itemnav d-block">
                    <a class="nav-link text-white text-center" id="inicio" href="{% url "index" %}">Inicio</a>
                </li>
                <li class="nav-item active itemnav d-block">
                        <a class="nav-link text-white text-center" id="fin" href="#">Quienes somos</a>
                </li>
                <li class="nav-item active itemnav d-block">
                        <a class="nav-link text-white text-center" href="#">Servicios</a>
                </li>
                <li class="nav-item active itemnav d-block">
                        <a class="nav-link text-white text-center" href="#">Contáctanos</a>
                </li>
                <br>
                {% if user.is_aunthenticated %}
                    {% if user.is_staff %}
                <li>
                    <a href="{% url "administrar" %}"><button id="administrar" style="width: 150px;height: 40px;float: left;" class="btn btn-primary d-block mx-auto">Administrar</button></a>
                </li>
                    {% endif %}
                <li class="nav-item active itemnav d-block">
                    <a class="nav-link text-black text-right">Bienvenido, {{usuario}}</a>
                </li>
                <li>
                    <a href="{% url "cerrar_sesion" %}"><button id="cerrarSesion" style="width: 150px;height: 40px;float: left;" class="btn btn-primary d-block mx-auto">Cerrar Sesión</button></a>
                </li>
    
                {% else %}
                <li class="nav-item active itemnav d-block">
                    <a href="{% url "index" %}"><button  id="iniciarSesionBoton" style="margin-top: 0px;width: 150px;height: 40px;float: center;" class="btn btn-primary d-block mx-auto">Volver</button></a>
                </li>
                {% endif %}
            </ul>
        </div>
        
    </nav>
</header>
<div id="division" class="container-fluid">
    <form action="{% url "login" %}" method="POST" id="formulario">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 col-lg-12 float-center">
                <div class="form-group">
                    <label class="d-block mx-auto" style="text-align: center;" for="usuario"><strong>Usuario</strong></label>
                    <input required class="form-control d-block mx-auto" type="text" name="usuario" id="usuario" placeholder="Nombre de Usuario" style="width: 200px;">
                </div>
            </div>
            <div class="col-md-6 col-lg-12 float-center">
                <div class="form-group rutsito">
                    <label class="d-block mx-auto" style="text-align: center;" for="contra"><strong>Contraseña</strong></label>
                    <input required class="form-control d-block mx-auto" type="password" name="contra" id="contra" placeholder="Contraseña" style="width: 200px;">
                </div>
            </div>
        </div>
        <div class="form-group">
            <input id="iniciar" name="iniciar" type="submit" value="Iniciar Sesión" class="btn btn-light d-block mx-auto">
        </div>
    </form>
    <a class="fa fa-google-plus btn btn-light d-block mx-auto" href="{% url 'social:begin' 'google-oauth2' %}" style="color:white;background-color: blue;max-width: 200px;"> | Login with Google</a>
</div>
</body>
</html>

